<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staryu.dao.news_articles.NewsArticlesMapper">
<!-- ————————————————————————————————resultMap区————————————————————————————  -->
	
<!--——————————————————————————————————增 ———————————————————————————————————————————————— -->

	<!-- 添加文章 -->
	<insert id="addArticles" parameterType="NewsArticles">
		INSERT INTO `news_articles` (`title`, `author`, `classifyId`, `puttime`, `count`, `content`, `picture`)
		VALUES (#{title}, #{author}, #{classifyId}, #{puttime}, #{count},#{content},#{picture})
	</insert>

<!--——————————————————————————————————删 ———————————————————————————————————————————————— -->

	<!-- 根据id删除文章 -->
	<delete id="delArticles" parameterType="Integer">
		DELETE FROM `news_articles` WHERE `id`=#{id}
	</delete>

<!--——————————————————————————————————改 ———————————————————————————————————————————————— -->

	<!-- 修改文章 -->
	<update id="updateArticles" parameterType="NewsArticles">
		UPDATE `news_articles` SET `title`=#{title},`author`=#{author},`classifyId`=#{classifyId},
			`puttime`=#{puttime}, `count`=#{count}, `content`=#{content}, `picture`=#{picture}
		WHERE `id`=#{id}
	</update>

<!--——————————————————————————————————查 ———————————————————————————————————————————————— -->

	<!-- 根据id查询单个文章 -->
	<select id="findArticlesById" resultType="NewsArticles" parameterType="Integer">
		SELECT * FROM `news_articles` WHERE  `id`=#{id}
	</select>

	<!-- 根据分类id查询,文章名称模糊查询,作者模糊查询,查询全部文章 -->
	<select id="findArticlesByInfo" parameterType="NewsArticles" resultType="NewsArticles">
		SELECT * FROM `news_articles`
		<where>
			<if test="classifyId != 0 and classifyId != ''">AND `classifyId`=#{classifyId}</if>
			<if test="title != null and title != ''">AND `title` LIKE CONCAT('%',#{title},'%')</if>
			<if test="author != null and author != ''">AND `author` LIKE CONCAT('%',#{author},'%')</if>
		</where>
	</select>

<!-- ————————————————————————————————cache配置————————————————————————————  -->
	<cache eviction="FIFO" flushInterval="60000" size="512"  readOnly="true"/>
</mapper>